body {
    position: relative;

    background-color: grey;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    position: absolute;
    width: 1024px;
    height: 576px;
    background-color: lightblue;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    
}

#player {
    width: 30px;
    height: 50px;
    position: absolute; 
    background-color: brown;
}

.platform {
    width: 200px;
    height: 50px;
    position: absolute;
    background-color: darkorange;
}

.countdown {
    position: absolute; 
    top: 50px; 
  }
  
  #timer {
    font-size: 3rem;
  }