body {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 1024px;
    height: 576px;
    position: relative;
    background-image: url('./assets/fondo.webp');
    background-repeat: repeat;
    background-size: auto;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
}

#player {
    width: 50px;
    height: 80px;
    position: absolute; 
    background-image: url('./assets/robot-derecha.png');
    background-repeat: no-repeat;
}

.platform {
    width: 200px;
    height: 50px;
    position: absolute;
    background-image: url(./assets/plataforma.webp);
    background-size: contain;
}

.platform::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.150);
}

.platform::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 15px;
    background-image: url('./assets/hojas.png');
}




